.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 517px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 26px 705px 0 32px;
}

.u-section-2 .u-list-1 {
  width: 622px;
  min-height: 353px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  margin: 19px auto 0 50px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 20px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: -55px -37px 0 110px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 20px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: -55px -37px 0 110px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 20px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: -55px -37px 0 110px;
}

.u-section-2 .u-image-1 {
  width: 449px;
  height: 348px;
  margin: -427px 19px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 537px;
    margin-left: 27px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 317px;
    margin-left: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 137px;
    margin-left: 16px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 115px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 115px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 115px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 264px;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 794px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 26px -22px 0 -80px;
}

.u-section-3 .u-text-2 {
  margin: -18px 760px 0 20px;
}

.u-section-3 .u-btn-1 {
  font-size: 1rem;
  padding: 0;
}

.u-section-3 .u-text-3 {
  margin: 25px 52px 0 0;
}

.u-section-3 .u-btn-2 {
  margin-top: 1px;
  color: rgba(0, 0, 0, 0);
  padding: 0;
}

.u-section-3 .u-btn-3 {
  padding: 0;
}

.u-section-3 .u-btn-4 {
  color: rgba(0, 0, 0, 0);
  padding: 0;
}

.u-section-3 .u-btn-5 {
  padding: 0;
}

.u-section-3 .u-btn-6 {
  color: rgba(0, 0, 0, 0);
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 372px;
  height: 183px;
  margin: 136px 20px 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  margin: -299px 0 56px;
}

.u-section-3 .u-btn-7 {
  padding: 0;
}

.u-section-3 .u-btn-8 {
  padding: 0;
}

.u-section-3 .u-btn-9 {
  padding: 0;
}

.u-section-3 .u-btn-10 {
  padding: 0;
}

.u-section-3 .u-btn-11 {
  padding: 0;
}

.u-section-3 .u-btn-12 {
  padding: 0;
}

.u-section-3 .u-btn-13 {
  padding: 0;
}

.u-section-3 .u-btn-14 {
  padding: 0;
}

.u-section-3 .u-btn-15 {
  padding: 0;
}

.u-section-3 .u-btn-16 {
  padding: 0;
}

.u-section-3 .u-btn-17 {
  padding: 0;
}

.u-section-3 .u-btn-18 {
  padding: 0;
}

.u-section-3 .u-btn-19 {
  padding: 0;
}

.u-section-3 .u-btn-20 {
  padding: 0;
}

.u-section-3 .u-btn-21 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 580px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-right: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    margin-right: 180px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 167px;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: -283px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 312px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  width: 375px;
  margin: 32px auto 0;
}

.u-section-4 .u-list-1 {
  min-height: 223px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-4 .u-list-1 {
    min-height: 184px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-4 .u-list-1 {
    min-height: 423px;
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 356px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 256px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: -11px -123px 0 123px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 43px -60px 0;
}

.u-section-5 .u-btn-1 {
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 291px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-image-1 {
  width: 405px;
  height: 184px;
  margin: 0 17px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 211px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 240px;
  }

  .u-section-5 .u-image-1 {
    width: 350px;
    height: 159px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 184px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    width: 300px;
    height: 136px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 276px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-2 {
    min-height: 174px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1068px;
}

.u-section-6 .u-custom-html-1 {
  min-height: 1007px;
  margin: 56px 557px 5px 13px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-custom-html-1 {
    margin-left: 0;
    margin-right: 370px;
    width: 570px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-custom-html-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-custom-html-1 {
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-custom-html-1 {
    width: 340px;
  }
}